body {
	background: url(images/ps4.png);
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
}
p {
	   font-family: "Courier New", Courier, monospace
	   color: rgb(255,255,255)
	
}

h2{
	font-family: "Lucida Console", Monaco, monospace
	
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif
	
}
.stuff{
	display: inline;
	padding: 0px 10px 0px 10px;
	
}
img {
      margin: 40px 0px 0px 0px;
	float: left;
    }
    ul {
      padding: 10px;
      
    }



header {
 text-align: center;
  background-size: cover;
color: rgb(0,171,255)
  }

