body {
	background: rgb(179,205,224);
	
}
p {
	   font-family: "Courier New", Courier, monospace
	
}

h2{
	font-family: "Lucida Console", Monaco, monospace
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif

}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid rgb(1,31,75);
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(1,31,75);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;

 
 h1 {
      font-size: 70px;
    }
    img {
      margin: 40px 0px 0px 0px;
      border: 7px solid white;
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
       padding: 5px;
      display: block;
    }
    article {
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      h1 {
        font-size: 36px;
        padding: 5px;
      }
      li {
        padding: 5px;
        display: block;
      }
