body {
	background: rgb(255,255,255);
	
}
p {
	   font-family: "Courier New", Courier, monospace
	   
	
}

h2{
	font-family: "Lucida Console", Monaco, monospace
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif

}
li{
	display: inline;
	padding: 0px 10px 0px 10px;
}
img {
      margin: 40px 0px 0px 0px;
      border: 7px solid rgb(255,255,255);
      border-radius: 20px;
    }
    ul {
      padding: 10px;
      background: rgba(187,187,187);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
}

header {
 text-align: center;
  background: url("images/diamond.jpg");
  background-size: cover;
color: rgb(255,255,255)
  }

