body {
	background: rgb(187,187,187);
	
}
p {
	   font-family: "Courier New", Courier, monospace
	   
	
}

h2{
	font-family: "Lucida Console", Monaco, monospace
	
}
h1{
	font-family: "Comic Sans MS", cursive, sans-serif
	
}
.stuff{
	display: inline;
	padding: 0px 10px 0px 10px;
	
}
img {
      margin: 40px 0px 0px 0px;
	float: left;
    }
    ul {
      padding: 10px;
      
    }



header {
 text-align: center;
  background: url("images/Cade.png");
  background-size: cover;
color: rgb(0,171,255)
  }

